body {
  background-color: black;
  color: #d4d4d4;
  font-family: "Arial", sans-serif;

}

.container {
  max-width: 100%;
 
}

h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 0px;
}

.card {
  background-color: black;
  padding: 5px;
  border-radius: 10px;
  flex: 1;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  margin: 1px;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  max-width: 310px;
  height: auto;
  margin-bottom: 3px;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
}

.card p {
  font-size: 18px;
  margin-bottom: 5px;
  color: #d4d4d4;
}

#sortearBtn {
  display: block;
  margin: 3px auto;
  background-color: #6a8dcf;
  color: #fff;
  border: 10px;
  padding: 10px 10px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#sortearBtn:hover {
  background-color: #4e7ac1;
}

.cards.shuffle {
  animation: shuffleAnimation 0.5s ease-in-out;
}

@keyframes shuffleAnimation {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1200px) {
  .card {
    flex-basis: 100%;
    margin-bottom: 3px;
  }
}
